In [1]:
#importing all the required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from time import sleep
from selenium.common.exceptions import NoSuchElementException   # importing Exemption
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option("display.max_colwidth", -1) #displays whole column value

1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [26]:
#scraping ranks of most viewed videos on YouTube from Wikipedia

rank=[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]"):
    if len(rank)<30:
        rank.append(i.text)
    
rank = pd.DataFrame(rank)
rank.columns=['rank']

#scraping names of most viewed videos on YouTube from Wikipedia

name=[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]"):
    if len(name)<30:
        name.append(i.text)
    
name = pd.DataFrame(name)
name.columns=['name']
name['name'] = name['name'].astype(str).str[0:-4] # removing unnecessary data


#scraping artists of most viewed videos on YouTube from Wikipedia

artist=[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]"):
    if len(artist)<30:
        artist.append(i.text)
    
artist = pd.DataFrame(artist)
artist.columns=['artist']

#scraping upload date of most viewed videos on YouTube from Wikipedia

date=[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]"):
    if len(date)<30:
        date.append(i.text)
    
date = pd.DataFrame(date)
date.columns=['date']

#scraping views of most viewed videos on YouTube from Wikipedia
views=[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]"):
    if len(views)<30:
        views.append(i.text)
    
views = pd.DataFrame(views)
views.columns=['views']

youtube=pd.DataFrame({})
youtube['Rank']=rank['rank']
youtube['Name']=name['name']
youtube['Artist']=artist['artist']
youtube["Upload Date"]=date['date']
youtube['Views']=views['views']
youtube
# Details of most viewed videos on YouTube from Wikipedia:

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.71
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",7.38
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",5.41
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.34
4,5.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.13
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.19
7,8.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.12
8,9.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",4.10
9,10.,"""Gangnam Style""",Psy,"July 15, 2012",4.08
10,11.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",3.90
11,12.,"""Sugar""",Maroon 5,"January 14, 2015",3.48
12,13.,"""Sorry""",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",3.37
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.36
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.31
16,17.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.26
17,18.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.08
18,19.,"""Faded""",Alan Walker,"December 3, 2015",3.07
19,20.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.06
20,21.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",3.05
21,22.,"""Lean On""",Major Lazer,"March 22, 2015",3.04
22,23.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.04
23,24.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.04
24,25.,"""Let Her Go""",Passenger,"July 25, 2012",3.00
25,26.,"""Mi Gente""",J Balvin,"June 29, 2017",2.92
26,27.,"""Perfect""",Ed Sheeran,"November 9, 2017",2.86
27,28.,"""Hello""",Adele,"October 22, 2015",2.84
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",2.84
29,30.,"""Axel F""",Crazy Frog,"June 16, 2009",2.82

2. Scrape the details team India’s international fixtures from bcci.tv

In [27]:
driver=webdriver.Chrome("chromedriver.exe")

In [28]:
url='https://www.bcci.tv/'
driver.get(url)

In [33]:
driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]").click() 
#selects drop down of International tab

In [37]:
fixtures=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").get_attribute('href')
#obtaining fixtures URL

In [38]:
driver.get(fixtures) #going to fixtures URL

In [52]:
#scraping Match title of team India’s international fixtures from bcci.tv
title=[]
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
    title.append(i.text)
    
title = pd.DataFrame(title)
title.columns=['title']

#scraping Series of team India’s international fixtures from bcci.tv
series=[]
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(i.text)
    
series = pd.DataFrame(series)
series.columns=['series']

#scraping place of team India’s international fixtures from bcci.tv
place=[]
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    place.append(i.text)
    
place = pd.DataFrame(place)
place.columns=['place']

#scraping Date of team India’s international fixtures from bcci.tv
Dt=[]
for i in driver.find_elements_by_xpath("//div[@class='fixture__full-date']"):
    Dt.append(i.text)
    
Dt = pd.DataFrame(Dt)
Dt.columns=['Dt']
Dt['Dt']=Dt['Dt'].str.replace('\n',' ')
Dt['Dt'] = Dt['Dt'].astype(str).str[0:-10] # removing time data

#scraping Time of team India’s international fixtures from bcci.tv
time=[]
for i in driver.find_elements_by_xpath("//span[@class='fixture__time']"):
    time.append(i.text)
    
time = pd.DataFrame(time)
time.columns=['time']

bcci=pd.DataFrame({})
bcci['Match Title']=title['title']
bcci['Series']=series['series']
bcci['Place']=place['place']
bcci["Date"]=Dt['Dt']
bcci['Time']=time['time']
bcci
# Details team India’s international fixtures from bcci.tv.

,Match Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18 JUNE,15:00 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 AUGUST,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12 AUGUST,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25 AUGUST,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02 SEPTEMBER,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST

3. Scrape the details of selenium exception from guru99.com.

In [53]:
driver=webdriver.Chrome("chromedriver.exe")

In [54]:
url='https://www.guru99.com/'
driver.get(url)

In [56]:
selenium=driver.find_element_by_xpath("(//a[@target='_top'])[3]").get_attribute('href')
#obtaining selenium URL

In [57]:
driver.get(selenium)   #going to selenium URL

In [61]:
exception=driver.find_element_by_xpath("(//td[@class='responsivetable'])[69]/a").get_attribute('href')
#obtaining "Selenium Exception Handling (Common Exceptions List)" URL

In [63]:
driver.get(exception)  #going to "Selenium Exception Handling (Common Exceptions List)" URL

In [67]:
# Scraping Exception Name

excep_name=[]
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
    excep_name.append(i.text)
    
excep_name = pd.DataFrame(excep_name)
excep_name.columns=['excep_name']

#scraping Description

desc=[]
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
    desc.append(i.text)
    
desc = pd.DataFrame(desc)
desc.columns=['desc']

selenium=pd.DataFrame({})
selenium['Exception Name']=excep_name['excep_name']
selenium['Description']=desc['desc']
selenium.drop(index=selenium.index[0], axis=0,inplace=True) #dropping the first row as it is unnecessary row
selenium
# Details of selenium exception from guru99.com.

,Exception Name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.
2,ElementNotSelectableException,"This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact."
3,NoSuchElementException,This Exception occurs if an element could not be found.
4,NoSuchFrameException,This Exception occurs if the frame target to be switched to does not exist.
5,NoAlertPresentException,This Exception occurs when you switch to no presented alert.
6,NoSuchWindowException,This Exception occurs if the window target to be switch does not exist.
7,StaleElementReferenceException,This Selenium exception occurs happens when the web element is detached from the current DOM.
8,SessionNotFoundException,The WebDriver is acting after you quit the browser.
9,TimeoutException,"Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time."
10,WebDriverException,This Exception takes place when the WebDriver is acting right after you close the browser.
11,ConnectionClosedException,This type of Exception takes place when there is a disconnection in the driver.
12,ElementClickInterceptedException,The command may not be completed as the element receiving the events is concealing the element which was requested clicked.
13,ElementNotInteractableException,"This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element."
14,ErrorInResponseException,This happens while interacting with the Firefox extension or the remote driver server.
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if the server returns an error without a stack trace.
16,ImeActivationFailedException,This expectation will occur when IME engine activation has failed.
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.
19,InvalidArgumentException,It occurs when an argument does not belong to the expected type.
20,InvalidCookieDomainException,This happens when you try to add a cookie under a different domain instead of current URL.
21,InvalidCoordinatesException,This type of Exception matches an interacting operation that is not valid.
22,InvalidElementStateExceptio,It occurs when command can't be finished when the element is invalid.
23,InvalidSessionIdException,This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.
24,InvalidSwitchToTargetException,This occurs when the frame or window target to be switched does not exist.
25,JavascriptException,This issue occurs while executing JavaScript given by the user.
26,JsonException,It occurs when you afford to get the session when the session is not created.
27,NoSuchAttributeException,This kind of Exception occurs when the attribute of an element could not be found.
28,MoveTargetOutOfBoundsException,"It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document."
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.
31,NotFoundException,This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.
32,RemoteDriverServerException,This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be successfully created.
35,UnableToSetCookieException,This occurs if a driver is unable to set a cookie.
36,UnexpectedTagNameException,Happens if a support class did not get a web element as expected.
37,UnhandledAlertException,"This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation."
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an unexpected alert.
39,UnknownMethodException,This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.
40,UnreachableBrowserException,This Exception occurs only when the browser is not able to be opened or crashed because of some reason.
41,UnsupportedCommandException,This occurs when remote WebDriver does n't send valid commands as expected.

4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
url='http://statisticstimes.com/'
driver.get(url)

In [11]:
driver.find_element_by_xpath("(//button[@class='dropbtn'])[2]").click()
#selects drop down of Economy tab

In [12]:
eco=driver.find_element_by_xpath("(//div[@class='dropdown-content'])/a[3]").get_attribute('href')
#Extracting "India" URL

In [14]:
driver.get(eco) #going to "India" URL

In [19]:
gdp=driver.find_element_by_xpath("(//ul[@style='list-style-type:none;margin-left:20px;'])/li/a").get_attribute('href')
#selects drop down of Economy tab

In [21]:
driver.get(gdp)

In [28]:
# Scraping Ranks of states

st_rank=[]
for i in driver.find_elements_by_xpath("//tr[@role='row']/td[1]"):
    if len(st_rank)<33:
        st_rank.append(i.text)
    
st_rank = pd.DataFrame(st_rank)
st_rank.columns=['st_rank']

# Scraping states

states=[]
for i in driver.find_elements_by_xpath("//tr[@role='row']/td[2]"):
    if len(states)<33:
        states.append(i.text)
    
states = pd.DataFrame(states)
states.columns=['states']


# Scraping GSDP(19-20)

gdsp1920=[]
for i in driver.find_elements_by_xpath("//tr[@role='row']/td[3]"):
    if len(gdsp1920)<33:
        gdsp1920.append(i.text)
    
gdsp1920 = pd.DataFrame(gdsp1920)
gdsp1920.columns=['gdsp1920']

# Scraping GSDP(18-19)

gdsp1819=[]
for i in driver.find_elements_by_xpath("//tr[@role='row']/td[4]"):
    if len(gdsp1819)<33:
        gdsp1819.append(i.text)
    
gdsp1819 = pd.DataFrame(gdsp1819)
gdsp1819.columns=['gdsp1819']

# Scraping Share(2019)

share=[]
for i in driver.find_elements_by_xpath("//tr[@role='row']/td[5]"):
    if len(share)<33:
        share.append(i.text)
    
share = pd.DataFrame(share)
share.columns=['share']

# Scraping GDP($ billion)

gdp=[]
for i in driver.find_elements_by_xpath("//tr[@role='row']/td[6]"):
    if len(gdp)<33:
        gdp.append(i.text)
    
gdp = pd.DataFrame(gdp)
gdp.columns=['gdp']


st_wise_gdp=pd.DataFrame({})
st_wise_gdp['State Rank']=st_rank['st_rank']
st_wise_gdp['State']=states['states']
st_wise_gdp['GSDP(19-20)']=gdsp1920['gdsp1920']
st_wise_gdp["GSDP(18-19"]=gdsp1819['gdsp1819']
st_wise_gdp['Share(2019)']=share['share']
st_wise_gdp['GDP($ billion)']=gdp['gdp']
st_wise_gdp
# Details of State-wise GDP of India from statisticstime.com

,State Rank,State,GSDP(19-20),GSDP(18-19,Share(2019),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
url='https://github.com/'
driver.get(url)

In [5]:
github=driver.find_element_by_xpath("/html/body/div[1]/header/div[3]/nav/a[4]").get_attribute('href')
# Extracting "Explore" URL

In [6]:
driver.get(github) #going to "Explore" URL

In [7]:
repositories=driver.find_element_by_xpath("/html/body/div[4]/main/div[2]/div/div/div[3]/div[1]/div[1]/h2/a").get_attribute('href')
# Extracting "Trending repositories today" URL

In [8]:
driver.get(repositories) # going to "Trending repositories today" URL

In [14]:
# Scraping Repository Title of trending repositories on Github.com.
repo_title=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']"):
    repo_title.append(i.text)
    
repo_title = pd.DataFrame(repo_title)
repo_title.columns=['repo_title']

In [9]:
giturl=[] #scraping all urls of all repositries
for j in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
            giturl.append(j.get_attribute('href'))

In [18]:
repo_desc=[]
lang=[]
contributors=[]

for i in giturl:
    url=i
    driver.get(url)
    sleep(4)


        
# Scraping Repository description of trending repositories on Github.com.

    try:
        rd=driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        repo_desc.append(rd.text)
    except NoSuchElementException:
        repo_desc.append('-')
        
# Scraping language used of trending repositories on Github.com.

    try:
        lg=driver.find_element_by_xpath("(//div[@class='BorderGrid-cell']/ul)[last()]")
        lang.append(lg.text)
    except NoSuchElementException:
        lang.append('-')
        
# Scraping contributors of trending repositories on Github.com.
        
    try:#scraping contributors count

        con=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")

        contributors.append(con.text)

    except:#handling no such element exception

        contributors.append('-') 
        
        

repo_desc = pd.DataFrame(repo_desc)
repo_desc.columns=['repo_desc']   
        
lang = pd.DataFrame(lang)
lang.columns=['lang']
lang['lang']=lang['lang'].str.replace('\n',' ')
        
contributors = pd.DataFrame(contributors)
contributors.columns=['contributors']        


github_repository=pd.DataFrame({})
github_repository['Repository Title']=repo_title['repo_title']
github_repository['Repository Description']=repo_desc['repo_desc']
github_repository['Contributors Count']=contributors['contributors']
github_repository["Language Used"]=lang['lang']
github_repository
# Details of trending repositories on Github.com

,Repository Title,Repository Description,Contributors Count,Language Used
0,PaperMC / Paper,High performance Spigot fork that aims to fix gameplay and mechanics inconsistencies,245,Shell 77.9% Java 22.1%
1,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on your DB with fine grained access control, also trigger webhooks on database events.",357,Haskell 35.3% JavaScript 20.7% TypeScript 19.4% Go 10.5% Python 7.3% CSS 1.8% Other 5.0%
2,neovim / neovim,Vim-fork focused on extensibility and usability,667,Vim script 44.3% C 34.8% Lua 19.0% Python 0.8% CMake 0.4% Shell 0.3% Other 0.4%
3,udacity / nd064_course_1,-,2,Python 56.4% HTML 24.1% CSS 12.4% Go 4.4% Dockerfile 2.7%
4,alpinejs / alpine,"A rugged, minimal framework for composing JavaScript behavior in your markup.",127,HTML 93.5% JavaScript 6.5%
5,madMAx43v3r / chia-plotter,-,18,C 68.5% C++ 31.0% Other 0.5%
6,iptv-org / iptv,Collection of publicly available IPTV channels from all over the world,84,JavaScript 100.0%
7,zzanehip / The-OldOS-Project,Recreating a fully functional version of iOS 4 in SwiftUI.,5,Swift 93.4% Objective-C 5.9% Other 0.7%
8,ytdl-org / youtube-dl,Command-line program to download videos from YouTube.com and other video sites,768,Python 99.6% Other 0.4%
9,biancangming / wtv,解决电脑、手机看电视直播的苦恼，收集各种直播源，电视直播网站,-,Python 100.0%
10,maziarraissi / Applied-Deep-Learning,Applied Deep Learning,-,-
11,jwasham / coding-interview-university,A complete computer science study plan to become a software engineer.,197,
12,chrxh / alien,alien is a GPU-accelerated artificial life simulation program.,-,C++ 76.4% Cuda 21.9% Other 1.7%
13,the-hyp0cr1t3 / DSA-Training-2021,-,5,
14,yangtingxiao / QuantumultX,脚本，自用,-,-
15,MuriungiPatrick / Bootstrap-5-portfolio-template,Learning Bootstrap 5 with SASS,-,JavaScript 56.6% CSS 32.3% HTML 9.1% SCSS 2.0%
16,ashishpatel26 / 500-AI-Machine-learning-Deep-learning-Computer-vision-NLP-Projects-with-code,500 AI Machine learning Deep learning Computer vision NLP Projects with code,-,-
17,jina-ai / jina,An easier way to build neural search on the cloud,97,Python 94.2% HTML 2.4% CSS 1.1% Shell 0.9% Dockerfile 0.6% JavaScript 0.5% EJS 0.3%
18,EbookFoundation / free-programming-books,📚 Freely available programming books,"1,617",github-pages Active
19,hlissner / doom-emacs,An Emacs framework for the stubborn martian hacker,463,Emacs Lisp 95.3% YASnippet 4.4% Nix 0.2% Shell 0.1% HTML 0.0% JavaScript 0.0%
20,drawrowfly / tiktok-scraper,"TikTok Scraper. Download video posts, collect user/trend/hashtag/music feed metadata, sign URL and etc.",21,TypeScript 96.3% JavaScript 3.5% Dockerfile 0.2%
21,Genymobile / scrcpy,Display and control your Android device,68,C 63.5% Java 30.5% Roff 1.7% Meson 1.6% Makefile 1.4% Shell 1.0% Other 0.3%
22,atom / atom,The hackable text editor,479,JavaScript 88.2% Less 8.7% CoffeeScript 3.0% Shell 0.1% Batchfile 0.0% Dockerfile 0.0%
23,nushell / nushell,A new type of shell,229,Rust 100.0%

6. Scrape the details of top 100 songs on billiboard.com.

In [105]:
driver=webdriver.Chrome("chromedriver.exe")

In [106]:
url='https://www.billboard.com/'
driver.get(url)

In [108]:
charts=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a").get_attribute('href')
# Extracting "Chart" URL

In [109]:
driver.get(charts) #going to "Chart" URL

In [110]:
driver.find_element_by_xpath("/html/body/main/div[2]/div/div[1]/a/div[2]/div[2]/div[1]").click()
# Clicks on hot 100-page link

In [118]:
# Scraping song name of top 100 songs on billiboard.com

song=[]
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    song.append(i.text)
    
song = pd.DataFrame(song)
song.columns=['song']

# Scraping artist name of top 100 songs on billiboard.com

artist=[]
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artist.append(i.text)
    
artist = pd.DataFrame(artist)
artist.columns=['artist']


# Scraping Last week rank of top 100 songs on billiboard.com

last=[]
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    last.append(i.text)
    
last = pd.DataFrame(last)
last.columns=['last']

# Scraping Peak rank of top 100 songs on billiboard.com

peak=[]
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak.append(i.text)
    
peak = pd.DataFrame(peak)
peak.columns=['peak']

# Scraping Weeks on board of top 100 songs on billiboard.com

week=[]
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    week.append(i.text)
    
week = pd.DataFrame(week)
week.columns=['week']


billiboard=pd.DataFrame({})
billiboard['Song Name']=song['song']
billiboard['Artist Name']=artist['artist']
billiboard['Last Week Rank']=last['last']
billiboard["Peak Rank"]=peak['peak']
billiboard['Weeks on Board']=week['week']
billiboard
# Details of top 100 songs on billiboard.com

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

7. Scrape the details of Data science recruiters from naukri.com.

In [19]:
driver=webdriver.Chrome("chromedriver.exe")

In [20]:
url='https://www.naukri.com/'
driver.get(url)

In [21]:
recruiters=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a").get_attribute('href')
# Extracting "Recruiters" URL

In [23]:
driver.get(recruiters) #going to "Recruiters" URL

In [24]:
search=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
#keyword search bar

In [25]:
search.send_keys("Data Science") #enter "Data Science" keyword search bar

In [26]:
search_btn=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click() #clicks on search button

In [27]:
naukriurl=[] #scraping all urls of all recruiters
for j in driver.find_elements_by_xpath("//div[@class='recImg mid_pImg_Silht']/a"):
            naukriurl.append(j.get_attribute('href'))

In [31]:
rec_name=[]
rec_desgn=[]
company=[]
skills=[]
location=[]

for i in naukriurl:
    url=i
    driver.get(url)
    sleep(4)


        
# Scraping Name of Data science recruiters from naukri.com.

    try:
        nm=driver.find_element_by_xpath("//h1[@class='fl ellipsis wLimit hd']")
        rec_name.append(nm.text)
    except NoSuchElementException:
        rec_name.append('-')

        
# Scraping Designation of Data science recruiters from naukri.com.

    try:
        ds=driver.find_element_by_xpath("//div[@class='ellipsis']")
        rec_desgn.append(ds.text)
    except NoSuchElementException:
        rec_desgn.append('-')
        
# Scraping Company of Data science recruiters from naukri.com.
        
    try:
        co=driver.find_element_by_xpath("(//a[@class='fl ellipsis widLrg'])[1]")
        company.append(co.text)
    except NoSuchElementException:
        company.append('-')
        
        
# Scraping Skills they hire for of Data science recruiters from naukri.com.
        
    try:
        sk=driver.find_element_by_xpath("//div[@class='fl lPortn']/p")
        skills.append(sk.text)
    except NoSuchElementException:
        skills.append('-')
        
        
        
# Scraping Location of Data science recruiters from naukri.com.
        
    try:
        loc=driver.find_element_by_xpath("(//a[@class='fl ellipsis widLrg'])[2]")
        location.append(loc.text)
    except NoSuchElementException:
        location.append('-')
        
                        

rec_name = pd.DataFrame(rec_name)
rec_name.columns=['rec_name']   
        
rec_desgn = pd.DataFrame(rec_desgn)
rec_desgn.columns=['rec_desgn']
        
company = pd.DataFrame(company)
company.columns=['company']        

skills = pd.DataFrame(skills)
skills.columns=['skills']        

location = pd.DataFrame(location)
location.columns=['location']        


naukri_recruiters=pd.DataFrame({})
naukri_recruiters['Recruiters Name']=rec_name['rec_name']
naukri_recruiters['Recruiters Description']=rec_desgn['rec_desgn']
naukri_recruiters['Company']=company['company']
naukri_recruiters["Skills they hire for"]=skills['skills']
naukri_recruiters["Location"]=location['location']
naukri_recruiters
#Details of Data science recruiters from naukri.com.

,Recruiters Name,Recruiters Description,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer , Internet Marketing Professional , Data Science SME , Content Writers , SEO Professional , Revenue Professional",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net , Java , Data Science , Linux Administration , Sql Server Development , Winforms , Wcf Services , Wpf , Telecom Engineering , Technical Management , Software Architecture , Technical Leadership , Solution Architecture ,",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Mid Level, Junior Level",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,", Mean Stack , javascript , angularjs , mongodb , Web Services , rest , express , Node.js , Big Data , iot , Data Science , Cloud Computing , saas , Aws",Ahmedabad
4,subhas patel,Founder & CEO,LibraryXProject,"Hadoop , Spark , Digital Strategy , Data Architecture , Command Center , Cdp , Dmp , Kafka , Data Science , Data Analysis , Big Data Analytics , Real Time Analysis , SQL , Data Warehousing , ETL , Data Modeling , Application Development ,",UK - (london)
5,Abhishek - Only Analytics Hiring - India and APAC,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,"Analytics , Business Intelligence , Business Analytics , Predictive Modeling , Predictive Analytics , Data Science , Data Analysis , Data Analytics , Big Data , Big Data Analytics , Marketing Analytics , Marketing Analysis , Data Mining ,",Vadodara / Baroda
6,Institute for Financial Management and Research,Programme Manager,IFMR,Analytics & Business Intelligence,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning , algorithms , Go Getter , Computer Science , spark , Big Data , hdfs , sql , cassandra , hadoop , python , scala , java , Data Science , Front End , Angularjs , D3.Js , Nodejs , Mean Stack , NoSQL , Scalability ,",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,-,Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Junior Level, Mid Level",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa , Ui , ux , Java Developer , Java Architect , C++ , qt , Php , Lamp , Api , J2ee , Java , Soa , Esb , Middleware , Bigdata Achitect , Hadoop Architect , Deep Learning , Machine Learning , Data Science , Python , R , Algorithms ,",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,-,Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,-,Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,IT Skills,Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Junior Level, Mid Level",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data , Hadoop , Data Analytics , Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,Mid Level,Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,IT-Software/Software Services,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Mid Level, Top Mangement Level",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics , Data Science , Machine Learning , Deep Learning , Nlp , Data Mining , Python , R , Database Administration , Text Mining",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Junior Level, Mid Level",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Mid Level, High Level",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"High Level, Mid Level",Pune
23,Shaun Rao,Manager - Human Resources,Exela Technologies,"Java , Net , Angularjs , Hr , Infrastructure , Management , Project Management , Business Analysis , Data Science , Information Technology , Technology",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"High Level, Top Mangement Level",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science , Hadoop , Rpas , Devops , Python , Aws , Teaching , Big Data",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing , Machine Learning , Neural Networks , Data Science , Predictive Analytics , Time Series Analysis , Data Visualization , Technical Leadership , Data Processing , Problem Solving",Others
27,Rajat Kumar,Founder & CEO,R.S Consultancy & Services,"Web Technologies , Project Management , Software Architecture , Data Science , Object Oriented Programming , Computer Science , Electrical Engineering , Architecture , Technical Leadership , Team Motivation ,",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,-,Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"S. Finance Manager , Freshers , Experience , Server Administartion , Vlsi Design Engineer , Fpga , Benchmark Testing , Verilog , Vhdl , Digital Marketing , Market Research , Primary Research , Property Research ,",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics , Managed Services , Team Leading",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,-,Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,Junior Level,Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,Junior Level,Noida
34,Amit Sharma,Consultant,ASCO consulting,-,New Delhi
35,Kanan,senior technology instructor,NY INST,"Mid Level, Junior Level",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India,-,Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Junior Level, High Level",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Python , Php , Qa Automation , Ui , Wordpre",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,-,Bengaluru / Bangalore
40,Ankit Sinha,Head-Analytics,Suntech Global,-,Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Top Mangement Level, Junior Level",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science , Node.js , Angularjs",Bengaluru / Bangalore
43,Ashwini,"Director, Global Delivery",MRP Advisers,-,MYSORE
44,Balaji Kolli,Co-Founder,Saras Solutions India Pvt Ltd,-,Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"java , hadoop , r , Machine Learning , spark , flume , hdfs , Data Mining , sas , big , Data Science , Cloudera , Impala , Bigdata",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Mid Level, High Level",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,-,
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,-,Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals , Engineering , Technical Management , Financial Management , Human Resource Management , Banking , Google Adwords , Business Analysis , It Recruitment , Journalism , Content Writing , Machine Learning ,",Mumbai

8. Scrape the details of Highest selling novels.

In [32]:
driver=webdriver.Chrome("chromedriver.exe")

In [33]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [35]:
#scraping Author name of Highest selling novel

bookname=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
    bookname.append(i.text)
    
bookname = pd.DataFrame(bookname)
bookname.columns=['bookname']

#scraping Author name of Highest selling novel

authorname=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
    authorname.append(i.text)
    
authorname = pd.DataFrame(authorname)
authorname.columns=['authorname']


#scraping Volumes sold of Highest selling novel

volume=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
    volume.append(i.text)
    
volume = pd.DataFrame(volume)
volume.columns=['volume']


#scraping Publisher of Highest selling novel

publisher=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
    publisher.append(i.text)
    
publisher = pd.DataFrame(publisher)
publisher.columns=['publisher']


#scraping Genre of Highest selling novel

genre=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
    genre.append(i.text)
    
genre = pd.DataFrame(genre)
genre.columns=['genre']


highest_selling_novels=pd.DataFrame({})
highest_selling_novels['Book name']=bookname['bookname']
highest_selling_novels['Author name']=authorname['authorname']
highest_selling_novels['Volumes sold']=volume['volume']
highest_selling_novels["Publisher"]=publisher['publisher']
highest_selling_novels["Genre"]=genre['genre']
highest_selling_novels
# Details of Highest selling novels

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the Love of a Family","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.

In [36]:
driver=webdriver.Chrome("chromedriver.exe")

In [37]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [42]:
#scraping name of most watched tv series of all time from imdb.com

shwname=[]
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    shwname.append(i.text)
    
shwname = pd.DataFrame(shwname)
shwname.columns=['shwname']


#scraping Year span of most watched tv series of all time from imdb.com

shwyear=[]
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    shwyear.append(i.text)
    
shwyear = pd.DataFrame(shwyear)
shwyear.columns=['shwyear']


#scraping Genre of most watched tv series of all time from imdb.com

shwgenre=[]
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    shwgenre.append(i.text)
    
shwgenre = pd.DataFrame(shwgenre)
shwgenre.columns=['shwgenre']


#scraping Run time of most watched tv series of all time from imdb.com

run_time=[]
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    run_time.append(i.text)
    
run_time = pd.DataFrame(run_time)
run_time.columns=['run_time']


#scraping Ratings of most watched tv series of all time from imdb.com

ratings=[]
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
    ratings.append(i.text)
    
ratings = pd.DataFrame(ratings)
ratings.columns=['ratings']

#scraping Votes of most watched tv series of all time from imdb.com

vote=[]
for i in driver.find_elements_by_xpath("//span[@name='nv']"):
    vote.append(i.text)
    
vote = pd.DataFrame(vote)
vote.columns=['vote']



Top_100_most_watched_tv_shows=pd.DataFrame({})
Top_100_most_watched_tv_shows['Name']=shwname['shwname']
Top_100_most_watched_tv_shows['Year Span']=shwyear['shwyear']
Top_100_most_watched_tv_shows['Genre']=shwgenre['shwgenre']
Top_100_most_watched_tv_shows['Run time']=run_time['run_time']
Top_100_most_watched_tv_shows["Ratings"]=ratings['ratings']
Top_100_most_watched_tv_shows["Votes"]=vote['vote']
Top_100_most_watched_tv_shows
# Details of most watched tv series of all time from imdb.com.

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,823,069"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"863,720"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,445"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,673"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,011"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,575"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,064"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,707"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,879"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,397"

In [43]:
driver=webdriver.Chrome("chromedriver.exe")

In [44]:
url='https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

In [45]:
alldataset=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a").get_attribute('href')
# Extracting "View ALL Data Sets" URL

In [46]:
driver.get(alldataset) #going to "View ALL Data Sets" URL

In [55]:
dataurl=[] #scraping all urls of all datasets
for j in driver.find_elements_by_xpath("//p[@class='normal']/b/a"):
    dataurl.append(j.get_attribute('href'))

In [54]:
# Scraping Dataset name of Datasets from UCI machine learning repositories.

datasetname=[]
for i in driver.find_elements_by_xpath("//p[@class='normal']/b/a"):
    datasetname.append(i.text)
    
datasetname = pd.DataFrame(datasetname)
datasetname.columns=['datasetname']
datasetname

                          datasetname
0    Abalone
1    Adult
2    Annealing
3    Anonymous Microsoft Web Data
4    Arrhythmia
..          ...
583  in-vehicle coupon recommendation
584  Gait Classification
585  Wikipedia Math Essentials
586  Wikipedia Math Essentials
587  Synchronous Machine Data Set

[588 rows x 1 columns]

In [66]:
# Scraping Data types of Datasets from UCI machine learning repositories.

datatype=[]
for i in driver.find_elements_by_xpath("//td[2]/p[@class='normal']"):
    datatype.append(i.text)
    
datatype = pd.DataFrame(datatype)
datatype.columns=['datatype']
datatype

                          datatype
0     Table View  List View
1     Abalone
2     Multivariate
3     Adult
4     Multivariate
...             ...
1172  Time-Series
1173  Wikipedia Math Essentials
1174  Time-Series
1175  Synchronous Machine Data Set
1176  Multivariate

[1177 rows x 1 columns]

In [67]:
datatype=datatype.iloc[range(0,len(datatype),2)]
 # we can see the data what is present in the odd rows is the data we need. so extracting odd rows

In [69]:
datatype = datatype[1:] # we can delete the first row as it is not relevant to the data we need

In [71]:
datatype=datatype.reset_index(drop=True)  #resetting index

In [72]:
datatype

          datatype
0    Multivariate
1    Multivariate
2    Multivariate
3
4    Multivariate
..             ...
583  Multivariate
584  Multivariate
585  Time-Series
586  Time-Series
587  Multivariate

[588 rows x 1 columns]

In [73]:
#scraping by going into each url- alternate method
task=[]
attributetype=[]
instances=[]
attribute=[]
year=[]


# Scraping Task of Datasets from UCI machine learning repositories.

task=[]
for i in driver.find_elements_by_xpath("//td[3]/p[@class='normal']"):
    task.append(i.text)
    
task = pd.DataFrame(task)
task.columns=['task']


# Scraping Attribute types of Datasets from UCI machine learning repositories.

attributetype=[]
for i in driver.find_elements_by_xpath("//td[4]/p[@class='normal']"):
    attributetype.append(i.text)
    
attributetype = pd.DataFrame(attributetype)
attributetype.columns=['attributetype']


# Scraping No of instances of Datasets from UCI machine learning repositories.

instances=[]
for i in driver.find_elements_by_xpath("//td[5]/p[@class='normal']"):
    instances.append(i.text)
    
instances = pd.DataFrame(instances)
instances.columns=['instances']


# Scraping No of attribute of Datasets from UCI machine learning repositories.

attribute=[]
for i in driver.find_elements_by_xpath("//td[6]/p[@class='normal']"):
    attribute.append(i.text)
    
attribute = pd.DataFrame(attribute)
attribute.columns=['attribute']


# Scraping Year of Datasets from UCI machine learning repositories.

year=[]
for i in driver.find_elements_by_xpath("//td[7]/p[@class='normal']"):
    year.append(i.text)
    
year = pd.DataFrame(year)
year.columns=['year']



datasets=pd.DataFrame({})
datasets['Dataset Name']=datasetname['datasetname']
datasets['Data Type']=datatype['datatype']
datasets['Task']=task['task']
datasets["Attribute Type"]=attributetype['attributetype']
datasets["No of Instances"]=instances['instances']
datasets["No of Attributes"]=attribute['attribute']
datasets["Year"]=year['year']
datasets
# Details of Datasets from UCI machine learning repositories.

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [75]:
Datatype=[]
Task=[]
Attributetype=[]
Instances=[]
Attribute=[]
Year=[]

for i in dataurl:
    url=i
    driver.get(url)
    sleep(4)

        
# Scraping Data types of Datasets from UCI machine learning repositories.

    try:
        dt=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p")
        Datatype.append(dt.text)
    except NoSuchElementException:
        Datatype.append('-')
        
# Scraping Task of Datasets from UCI machine learning repositories.
        
    try:
        ta=driver.find_element_by_xpath("(/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[3]/td[2]/p")
        Task.append(ta.text)
    except NoSuchElementException:
        Task.append('-')
        
        
# Scraping Attribute types of Datasets from UCI machine learning repositories.
        
    try:
        att=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[2]/p")
        Attributetype.append(att.text)
    except NoSuchElementException:
        Attributetype.append('-')
        
        
        
# Scraping No of instances of Datasets from UCI machine learning repositories.
        
    try:
        inst=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[4]/p")
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
        

# Scraping No of attribute of Datasets from UCI machine learning repositories.
        
    try:
        at=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[4]/p")
        Attribute.append(at.text)
    except NoSuchElementException:
        Attribute.append('-')

# Scraping Year of Datasets from UCI machine learning repositories.
        
    try:
        yr=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[6]/p")
        Year.append(yr.text)
    except NoSuchElementException:
        Year.append('-')
        


Datatype = pd.DataFrame(Datatype)
Datatype.columns=['datatype']
        
Task = pd.DataFrame(Task)
Task.columns=['task']        

Attributetype = pd.DataFrame(Attributetype)
Attributetype.columns=['attributetype']        

Instances = pd.DataFrame(Instances)
Instances.columns=['instances']        

Attribute = pd.DataFrame(Attribute)
Attribute.columns=['attribute'] 

Year = pd.DataFrame(Year)
Year.columns=['year'] 

Datasets=pd.DataFrame({})
Datasets['Dataset Name']=datasetname['datasetname']
Datasets['Data Type']=Datatype['datatype']
Datasets['Task']=Task['task']
Datasets["Attribute Type"]=Attributetype['attributetype']
Datasets["No of Instances"]=Instances['instances']
Datasets["No of Attributes"]=Attribute['attribute']
Datasets["Year"]=Year['year']
Datasets
# Details of Datasets from UCI machine learning repositories.

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,Abalone,Multivariate,-,"Categorical, Integer, Real",4177,8,1995-12-01
1,Adult,Multivariate,-,"Categorical, Integer",48842,14,1996-05-01
2,Annealing,Multivariate,-,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data,N/A,-,Categorical,37711,294,1998-11-01
4,Arrhythmia,Multivariate,-,"Categorical, Integer, Real",452,279,1998-01-01
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,-,N/A,12684,23,2020-09-15
584,Gait Classification,Multivariate,-,Real,48,321,2020-10-14
585,Wikipedia Math Essentials,Time-Series,-,Real,731,1068,2021-04-20
586,Wikipedia Math Essentials,Time-Series,-,Real,731,1068,2021-04-20
587,Synchronous Machine Data Set,Multivariate,-,Real,557,5,2021-04-21